{% extends 'base.html.twig' %}

{% block title %}Hello mes messages !{% endblock %}

{% block body %}
   <section class="py-5">
  <div class="mask d-flex align-items-center h-80 gradient-custom-3">
    <div class="container h-80">
      <div class="row d-flex justify-content-center align-items-center h-80">
        
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">date</th>
                    <th scope="col">auteur</th>
                    <th scope="col">Message</th>
                    <th scope="col">Annonce</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.createdAt | date('d/m/Y') }}
                        </td>
                        <td>{{message.author.firstname}} {{message.author.lastname}}
  
                        </td>

                        <td title="{{message.message}}">
                            {{message.message }}
                        </td>
                        <td>{{message.vehicule.brand}}

                        </td>
                        <td>
                            <a href="{{ path( 'delete_message', {'id' : message.id} ) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette annonce ?')">
                            <i style="color: black;" class="bi bi-trash"></i></a> 

</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </section>
        {% endblock %}