{% extends 'base.html.twig' %}

{% block body %}





        <table class="table table-hover m-4">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Marque</th>
                <th scope="col">Photo</th>
                <th scope="col">Retirer</th>
                <th scope="col">Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for item in fullCart %}
                <tr class="table-secondary">
                    <th scope="row">{{ item.vehicle.name }}</th>
                    <th>{{ item.vehicle.brand }}</th>
                    <th><img class="img-custom" src="{{asset ('uploads/' ~ item.vehicle.picture)}}" width="100px"></th>
                     <th>{{ item.vehicle.price }} €</th>
                    <td>
                        <a href="{{ path('deleteCart', {id:item.vehicle.id }) }}"
                           onclick="return confirm('Etes-vous sûr de vouloir supprimer cette ligne ?')"
                           class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if total is defined %}
            <h2><strong>Montant Total: </strong>{{ total }} €<br></h2>
        {% endif %}
        
        {% if app.user %}
        <a href="{{ path('finalOrder') }}" class="btn btn-warning">Valider le panier</a>
            {% else %}
                <a href="{{ path('login') }}" class="btn btn-success">Connectez-vous pour continuer</a>
        {% endif %}
 




{% endblock %}

{% block title %}

{% endblock %}