{% extends 'base.html.twig' %}



{% block title %}{% endblock %}


{% block body %}


{% for vehicle in singleVehicle %}

<li class="list-group-item text-center text-muted">Crée le : {{ vehicle.createdAt | date('d/m/Y') }} | Par : {{ vehicle.user.firstname }} {{ vehicle.user.lastname }}</li>
  
    <hr>
    </div>
    <div class= "container-fluid">
    <div class="row">
    <div class ="col-sm-1"></div>
            <div class ="col-sm-7">
            <div class="card">
            <h1 class="text-center">{{vehicle.model}}</h1></div>
            <h1 class="text-center">{{vehicle.brand}}</h1> ajouter le nom
            <br>
             <img class="img-custom" src="{{asset ('uploads/' ~ vehicle.picture)}}"  width="400px">
            <br>
            </div>
            <div class ="col-sm-3 bg-primary">
            <br>
        <div class="card">
            <p>Année: {{vehicle.year}}</p>
            </div>
             <br>
            <div class="card">
            <p>Carburant: {{vehicle.fuel}}</p>
            </div>
             <br>
           <div class="card">
            <p>Ville: {{vehicle.town}}</p>
              </div>
              <br>
           <div class="card">
            <p>Prix: {{vehicle.price}}</p>
             </div>
             <br>
           <div class="card">
            <p>{{vehicle.description}}</p>
            </div>
             <br>
            <br>
        <div>

        <a href="{{ path( 'form_message', {'id' : vehicle.id} ) }}" class="btn btn-warning d-block mx-auto mb-3">Envoyer un message</a>
        
        <a class="btn btn-danger d-block mx-auto mb-3" href="{{ path('addCart', {id: vehicle.id, route : 'home'}) }}">Ajouter au panier</a>


        </div>
        </div>
        </div>
        </div>
          </div>
          </div>
 



  


    {% endfor %}


    {% endblock %}