{% extends 'base.html.twig' %}



{% block title %}{% endblock %}


{% block body %}


{% for vehicle in singleVehicle %}

   <section class="py-5">
  <div class="row">
    
<p style="color:white; text-align:center">Crée le : {{ vehicle.createdAt | date('d/m/Y') }} | Par : {{ vehicle.user.firstname }} {{ vehicle.user.lastname }}</p>
  
    <div class ="col-sm-1"></div>
            <div class ="col-sm-7">
            <div class="card">
            <h1>{{vehicle.model}}</h1></div>
            <h1 style="color:white">{{vehicle.brand}}</h1>
            <h5 style="color:white">{{vehicle.name}}</h5>
            <br>
             <img class="img-custom" src="{{asset ('uploads/' ~ vehicle.picture)}}"  width="700px" style="border-radius:20px">
            <br>
            </div>
            <div class ="col-sm-3">
            <br>
        <div class="card">
            <p>Année: {{vehicle.year}}</p>
            </div>
             <br>
            <div class="card">
            <p>Carburant: {{vehicle.fuel}}</p>
            </div>
             <br>
           <div class="card">
            <p>Ville: {{vehicle.town}}</p>
              </div>
              <br>
           <div class="card">
            <p>Prix: {{vehicle.price}} Euros</p>
             </div>
             <br>
           <div class="card">
            <p>{{vehicle.description}}</p>
            </div>
             <br>
            <br>
        <div>
<div class="card">
         <a href="{{ path( 'form_message', {'id' : vehicle.id} ) }}" class="btn btn-outline-light mt-auto">Envoyer un message</a>
         <br>


         <button type="button" class="btn btn-outline-light mt-auto" href="{{ path('addCart', {id: vehicle.id, route : 'home'}) }}">Ajouter au panier</button>

        <a href="{{ path( 'form_message', {'id' : vehicle.id} ) }}" class="btn btn-warning d-block mx-auto mb-3">Envoyer un message</a>
        
 

        </div>
        </div>
        </div>
        </div>



    {% endfor %}


    {% endblock %}