  <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Voiture Vintage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{path('home')}}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path('vehicle')}}">Deposer une Annonce</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Actualité</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path('emailForm')}}">Nous contacter</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{ asset('assets/img/utilisateur.png') }}"style="width:30px; height: 30px; ">
</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{path('dashboard')}}">Dashboard</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                {% if not app.user %} {# Si l'utilisateur n'est pas connecté on affiche inscription et connexion #}
                                <li><a class="dropdown-item" href="{{ path('register') }}">Inscription</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                                {% else %}{# Sinon tu affiche deconnexion et mon compte #}

                                <li><a class="dropdown-item" href="{{ path('account') }}">Mon compte</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>

                            {% endif %}
                      </ul>
                        </li>
                    </ul>

                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container">
<div  class="col-sm-12 col-lg-12 col-xl-12">
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% if label == 'success' %}
            <span class="alert-inner--icon"><i class="fe fe-thumbs-up"></i></span>
            {% else %}
            <span class="alert-inner--icon"><i class="fe fe-thumbs-down"></i></span>
            {% endif %}
            <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
                  </div>
            </div>
        </header>
