{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Administrateur{% endblock %}

{% block body %}
   <section class="py-5">
  <div class="mask d-flex align-items-center h-80 gradient-custom-3">
    <div class="container h-80">
      <div class="row d-flex justify-content-center align-items-center h-80">
        
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-9">

        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% if label == 'success' %}
            <span class="alert-inner--icon"><i class="fe fe-thumbs-up"></i></span>
            {% else %}
            <span class="alert-inner--icon"><i class="fe fe-thumbs-down"></i></span>
            {% endif %}
            <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
        </div>
        {% endfor %}
        {% endfor %}
    </div>


    <h2 class="text-center mt-3" style="text-align:center">Utilisateurs du site</h2>
    <a href="{{path('add_user')}}" class="btn btn-dark mb-2">Ajouter un utilisateur</a>
    <table class="table table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th>{{user.id}}</th>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="{{path('edit_user',{'id': user.id })}}"><i style="color: black;" class="bi bi-pencil-square"></i></a> |
                    <a href="{{path('delete_user',{'id': user.id })}}" onclick="retrun confirm ('Voulez-vous vraiment supprimer cet utilisateur ?')"><i style="color: black;" class="bi bi-trash"></i></a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

     <h2 class="text-center"style="text-align:center">Annonces en attente de validation</h2>
    <table class="table table-hover mt-2">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Marque</th>
                <th scope="col">Année</th>
                <th scope="col">Modèle</th>
                <th scope="col">Description</th>
                <th scope="col">Ville</th>
                <th scope="col">Prix</th>
                <th scope="col">Énergie</th>
                <th scope="col">Photo</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <th>{{vehicle.id}}</th>
                <td>{{vehicle.category}}</td>
                <td>{{vehicle.brand}}</td>
                <td>{{vehicle.year}}</td>
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.description}}</td>
                <td>{{vehicle.town}}</td>
                <td>{{vehicle.price}}€</td>
                <td>{{vehicle.fuel}}</td>
                <td> <img class="img-custom" style="width:80px; height:80px;" src="{{asset('uploads/' ~ vehicle.picture)}}" alt=""> </td>
                <td>
                    <a href="{{path('delete_vehicle',{'id': vehicle.id })}}"><i style="color: black;" class="bi bi-trash"></i></a> 
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h2 class="text-center"style="text-align:center">Les Actualités du blog</h2>

    <table class="table table-hover mt-2">
        <a href="{{path('create_blog')}}" class="btn btn-dark mb-2">Créer un article</a>
        <thead class="table-dark">
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Soustitre</th>
                <th scope="col">Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
            <tr>
                
                <th>{{blog.title}}</th>
                <td>{{blog.subtitle}}</td>
                     <td> <img class="img-custom" style="width:80px; height:80px;" src="{{asset('uploads/' ~ blog.picture)}}" alt=""> </td>
                


            </tr>
            {% endfor %}
            
 
</div>


     <table class="table table-hover mt-2">
     <h2 class="text-center"style="text-align:center">Les catégories</h2>
    <a href="{{path('create_category')}}" class="btn btn-dark mb-2">Ajouter une catégorie</a>
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        
            {% for category in categories %}
            <tr>
            
                <th>{{category.id}}</th>
                <td>{{category.name}}</td>
                
                <td>
                    <a href="{{path('edit_category',{'id': category.id })}}"><i style="color: black;" class="bi bi-pencil-square"></i></a> |
                    <a href="{{path('delete_category',{'id': category.id })}}" onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie ?')"><i style="color: black;" class="bi bi-trash"></i></a> 
                </td>

            </tr>
            {% endfor %}
        </tbody>
        
    </table>

</div>

                                    </div>
          </div>
        </div>
        
      </div>
      
    </div>
    
  </div>
    </section>

{% endblock %}
